@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    
}

.font {
      
    font-family: 'Bebas Neue', cursive;
}
