@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

body {
    background: conic-gradient(from 180deg at 50% 50%, #ffffff 0deg, #130000 360deg);
}

img{
    cursor:pointer;
    
}

.font {
    font-family: 'Bebas Neue', cursive;    
   
}

input[type='radio']{
    display: none;
}
input[type='radio'] + label  img {
    transition: border 250ms;
}

input[type='radio'] + label  img:hover {
    border: 10px solid black;
}

input[type='radio']:checked + label  img {
    border: 10px solid black;
}
.submit{
    color: black;
    background : white;
    border: none;
    width:15rem;
    height: 4.5rem;
    transition: opacity 250ms;
        

}
.submit:disabled {
    opacity: 20%;
}
.submit:enabled {
    opacity: 90%;
    }