@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}
body{
    background: conic-gradient(from 180deg at 50% 50%, #FF8A00 0deg, #130000 360deg);
}
.mt-6{
    margin-top: 6rem;
}
.mt-7{
    margin-top: 7rem;
}
.mt-10{
    margin-top: 10rem;
}
.font {
    font-family: 'Bebas Neue', cursive;
    color: white;
}
.house{
    
    color: white;
    background : none;
    border: none;
    text-underline-offset: 0.15em;
    text-decoration:underline 0.3rem rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
}

.house:hover{    
    text-decoration-color: rgba(255, 255, 255, 1);
}
.selected{
    
    text-decoration-color:rgba(255, 255, 255, 1);
    opacity: 70%;
}
.vote{
    opacity: 90%;
    color: black;
    background : white;
    border: none;
}


